<%- include('header') %>

<h2><%= title %></h2>

<p><a href="/content/<%= gematria %>"><%= gematria %></a> (<a href="/gematria/<%= gematria %>">db</a>) | <%= result %></p>
<p><a href="/content/<%= gematria %>"><%= gematria %></a> (<a href="/gematria/<%= gematria %>">db</a>) | <%= upper %></p>
<p><a href="/content/<%= gematria %>"><%= gematria %></a> (<a href="/gematria/<%= gematria %>">db</a>) | <%= capitalized %></p>

<form id="form-greek" name="form-greek" action="/greek" method="get"></form>
<form id="form-latin" name="form-latin" action="/latin" method="get"></form>
<form id="form-english" name="form-english" action="/english" method="get"></form>
<div>
	<table>
	<tbody>
		<tr>
			<td><input form="form-greek" type="text" name="word" size="50"></td>
			<td><input form="form-greek" type="submit" value="greek"></td>
		</tr>
		<tr>
			<td><input form="form-latin" type="text" name="word" size="50"></td>
			<td><input form="form-latin" type="submit" value="latin"></td>
		</tr>
		<tr>
			<td><input form="form-english" type="text" name="word" size="50"></td>
			<td><input form="form-english" type="submit" value="english"></td>
		</tr>
	</tbody>
	</table>
</div>

<%- include('footer') %>
