<%- include('header') %>
<style>
	.tarot-keys img {
		width: <%= letterWidth %>px;
		height: <%= letterHeight %>px;
	}
	.tarot-keys img.spacer {
		width: <%= spacerWidth %>px;
		height: <%= letterHeight %>px;
	}
</style>

<h2><%= title %></h2>

<div class="tarot-keys">
<%
	letters.forEach(letter => {
		if (letter.name === 'space' || letter.name === 'pipe' || letter.name === 'colon') { %>
</div>
<div class="tarot-keys"> <%
		} else { %>
	<img src="<%= letter.color %>"
		 class="<%= letter.class || '' %>"
		 title="<%= letter['letter-name'] %>"
		 alt="<%= letter['letter-name'] %>"> <%
		}
	});
%>
</div>

<div class="center">
	<a href="/content/<%= gematria %>"><%= gematria %></a> (<a href="/gematria/<%= gematria %>">db</a>) |
	<span class="hebrew"><%= hebrew %></span> |
	(<a href="/slug/<%= slug %>">verses</a>)
</div>

<div class="center">
	<form class="keys" action="#" method="get">
		<input id="input-word" type="text" name="word" class="word" size="50">
		<input type="submit" value="keys">
	</form>
</div>
<%- include('footer') %>
